{% extends 'layout.html' %}




{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Hello {{current_user.username}},</h1>
        <h4>Quote of the day</h4>
      <p>'{{quotes.quote}}'</p>
      <small>By:{{quotes.author}}</small>
      <hr>
      <h1 class = 'text-center'>Topics For you</h1>
      {% for post in posts %}
      <h3>{{post.title}}</h3>
      <p>{{post.content}}</p>
      <small>{{current_user.username}}...</small>
      <small>from your network</small>
      <p><a href="">Comment</a></p>
      <hr>

      {% endfor %}
    </div>
    <div class="col-md-5">
      <hr>
      <div class="foot">

      </div>
    </div>
  </div>
</div>
{% endblock %}